.logo {
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: opacity .2s;
  font-weight: bold;
  span {
    color: var(--player-color-one)
  }
  &:hover {
    opacity: .7;
  }
}