.authBadge {
  display: inline-flex;
  align-items: center;
  transition: opacity .1s;
  &__name {
    font-size: 14px;
    line-height: 1.3;
    color: rgba(0,0,0,.8)
  }
  &__ava {
    width: 34px;
    height: 34px;
    margin-left: 12px;
    background: rgba(0,0,0,.05);
    border-radius: 100%;
  }
  &:hover {
    opacity: .7;
  }
}

@media (prefers-color-scheme: dark) {
  .authBadge {
    &__name {
      color: rgba(255,255,255,.8)
    }
    &__ava {
      background: rgba(255,255,255,.1);
    }
  }
}