.search {
  background: linear-gradient(to left, var(--player-color-one), var(--player-color-two));
  width: 500px;
  border-radius: 10px;
  display: flex;
  &_bar {
    background: none;
    padding-left: 10px;
    outline: none;
    border: 0;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    color: white;
    &::-webkit-input-placeholder{
      color: white;
    }
  }

  &_live {
    width: 500px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    border-radius: 10px;
    max-height: 50vh;
    background: linear-gradient(to left, var(--player-color-one), var(--player-color-two));
    overflow-y: none;
    overflow-y: auto;
    .item {
      align-items: center;
      display: flex;
      height: 40px;
      margin-bottom: 5px;
      border-radius: 10px;
    }
  }
}
