.search {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;

  input[type="text"] {
    border-radius: 10px;
    background: none;
    border: none;
    margin: 0;
    padding: 10px;
    height: 30px;
  }

  .live {
    position: absolute;
    .item {
      background-color: rgba(255, 255, 255, 0.1);
      margin-bottom: 5px;
      border-radius: 10px;
    }
  }
}
