.form {
  &_wrapper {
    margin: 5rem auto;
    padding: 30px 20px;
    max-width: 500px;
    min-height: 400px;
    background: rgba(64, 64, 64, 0.241);
    border-radius: 4px;
    border: 2px solid var(--form-color-two);
  }
  &_header {
    text-align: center;
    font-size: 40px;
  }
}

//*Свойства лейбла
.label {
  text-align: center;
}
.label-color {
  &_success {
    color: var(--form-color-green);
  }
  &_primary {
    color: var(--form-color-blue);
  }
  &_info {
    color: var(--form-color-grey);
  }
  &_warning {
    color: var(--form-color-red);
  }
}

.label-fz {
  &_xg {
    font-size: 40px;
  }
  &_lg {
    font-size: 35px;
  }
  &_md {
    font-size: 25px;
  }
  &_sm {
    font-size: 15px;
  }
}

//*Свойства инпутов
.input[type='text'],
.input[type='password'],
.input[type='email'] {
  display: flex;
  margin: 20px 0;
  padding: 10px;
  font-size: 20px;
  color: var(--form-color-one-light);
  border: none;
  outline: none;
  border-bottom: 2px solid var(--form-color-one);
  filter: contrast(50%);
  box-sizing: border-box;
  &:hover,
  &:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--form-color-one);
    transition: all 0.5s;
    filter: contrast(100%);
  }
  &:active {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--form-color-one);
    filter: contrast(150%);
  }
}

.input::placeholder {
  color: rgb(215, 215, 215);
}

.input-color {
  &_success {
    color: var(--form-color-green);
  }
  &_primary {
    color: var(--form-color-blue);
  }
  &_info {
    color: var(--form-color-grey);
  }
  &_warning {
    color: var(--form-color-red);
  }
}

.input-variant {
  &_outlined {
    background: transparent;
  }
  &_dark{
    background: rgba(255, 255, 255, 0.1);
  }
}
.input-cursor{
  &_pointer{
    cursor: pointer;
  }
}
.input-size {
  &_xs {
    width: 50px;
    height: 10px;
    font-size: 10px;
    border: 2px solid;
  }
  &_sm {
    width: 100px;
    height: 15px;
    font-size: 10px;
    border: 2px solid;
  }
  &_md {
    width: 125px;
    height: 20px;
    font-size: 10px;
    border: 2px solid;
  }
  &_lg {
    width: 150px;
    height: 40px;
    font-size: 15px;
    border: 2px solid;
  }
  &_xg {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: 1px solid;
  }
}
//*Checkbox
.checkbox-wrapper {
  display: flex;
  align-items: flex-start;
}

.checkbox-color {
  &_success {
    color: var(--form-color-green);
    border: 1px solid;
  }
  &_primary {
    color: var(--form-color-blue);
    border: 1px solid;
  }
  &_info {
    color: var(--form-color-grey);
    border: 1px solid;
  }
  &_warning {
    color: var(--form-color-red);
    border: 1px solid;
  }
}

.checkbox-size {
  &_xg {
    margin: 0 20px;
    width: 25px;
    height: 25px;
  }
  &_lg {
    margin: 0 20px;
    width: 20px;
    height: 20px;
  }
  &_md {
    margin: 0 20px;
    width: 15px;
    height: 15px;
  }
  &_sm {
    margin: 0 20px;
    width: 10px;
    height: 10px;
  }
}

.checkbox-span {
  font-size: 15px;
}

//* Свойства кнопок
.btn {
  margin: 20px 0;
  width: 100%;
  height: 30px;
  font-weight: 900;
  background: var(--form-color-one);
  border-style: solid;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    filter: contrast(125%);
    transition: all 0.5s;
  }
  &:active {
    filter: contrast(150%);
  }
}

.btn-variant {
  &_outlined {
    background: var(--player-color-one-light);
  }
}

.btn-color {
  &_success {
    background: var(--form-color-green);
  }
  &_primary {
    background: var(--form-color-one);
  }
  &_info {
    background: var(--form-color-grey);
  }
  &_warning {
    background: var(--form-color-red);
  }
}

.btn-size {
  &_sm {
    height: 20px;
    font-size: 8px;
    border-radius: 5px;
  }
  &_md {
    height: 30px;
    font-size: 10px;
    border-radius: 5px;
  }
  &_lg {
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
  }
  &_xg {
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
  }
}

.checkbox-wrapper {
  margin: 5px 0;
}
.checkbox-position {
  margin: 0 10px 0 5px;
}

.forget-password {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  p a {
    cursor: pointer;
    padding-left: 5px;
  }
}
