.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background: rgba(255,255,255,.7);
  backdrop-filter: blur(10px);
  font-family: Arial, sans-serif;
  &:hover {
    .playerBar {
      height: 8px;
      &__progressMove {
        opacity: 1;
      }
    }
  }
}

.playerBar{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.07);
  height: 3px;
  transition: height .1s;
  cursor: pointer;
  &__progress,
  &__progressMove {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    pointer-events: none;
  }
  &__progress {
    background: linear-gradient(to left, var(--player-color-one), var(--player-color-two));
  }
  &__progressMove {
    background: rgba(255,255,255,.2);
    opacity: 0;
    transition: opacity .1s;
    z-index: 2;
    &:before {
      content: attr(time);
      position: absolute;
      bottom: 100%;
      right: 0;
      font-size: 11px;
      line-height: 1;
      padding: 3px 0;
    }
  }
}

.playerBox {
  height: 60px;
  display: flex;
  align-items: center;
  &__play {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 15px;
    position: relative;
    background: #fff4ee;
    &:before {
      content: "";
      width: 0;
      height: 0;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 2px;
      right: 0;
      border-left: 8px solid var(--player-color-one);;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
    }
    &.active:before {
      border: none;
      width: 10px;
      height: 10px;
      background: var(--player-color-one);
      left: 0;
    }
    &:hover {
      box-shadow: 0 0 4px var(--player-color-one);
    }
  }

  &__body {
    font-size: 16px;
    line-height: 1.3;
    color: rgba(0,0,0,.5);
    strong {
      color: rgba(0,0,0,.8)
    }
    span {
      display: block;
      font-size: 12px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .player {
    background: rgba(255,255,255,.1);
  }

  .playerBar {
    background: rgba(255,255,255,.2);
  }

  .playerBox {
    &__play {
      background: transparentize(#fff4ee, .9);
      &:hover {
        box-shadow: 0 0 4px transparentize(#fff4ee, .6);
      }
    }
    &__body {
      color: rgba(255,255,255,.5);
      strong {
        color: rgba(255,255,255,.8)
      }
    }
  }
}