:root {
  --card-color-one: #ff5d0f;
  --card-color-one-light: #fff4ee;
  --card-color-two: #ff9c0f;
}

.card {
  h2 {
    margin: 20px 10px;
    text-align: center;
  }
}

.music-card {
  &_wrapper {
    display: flex;
    flex-direction: column;
  }
  &_position {
    display: flex;
    justify-content: center;
  }
  &_item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
    width: 140px;
    height: 120px;
    background: var(--card-color-one);
    font-size: 20px;
    border-radius: 5px;
    filter: contrast(80%);
    color: var(--card-color-one-light);
    &:hover,
    &:focus {
      cursor: pointer;
      filter: contrast(120%);
      transition: all 0.5s;
    }
  }
}
