:root {
  --form-color-green: #1a7d36;
  --form-color-blue: #3728be;
  --form-color-grey: #353535;
  --form-color-red: #e32636;

  --form-color-one: #ff5d0f;
  --form-color-one-light: #fff4ee;
  --form-color-two: #ff9c0f;
}

//*Закрыть форму
/* .form-close {
  &_one,
  &_two {
    position: absolute;
    top: 20px;
    right: 10px;
    border: 1.5px solid var(--player-color-one-light);
    width: 20px;
    transform: rotate(45deg);
    cursor: pointer;
    border-radius: 5px;
  }
  &_two {
    transform: rotate(-45deg);
  }
} */

//* Свойства формы
.form-header {
  text-align: center;
}

.form-wrapper {
  margin: 5rem auto;
  padding: 30px 20px;
  max-width: 500px;
  min-height: 400px;
  background: rgba(64, 64, 64, 0.241);
  border-radius: 4px;
  border: 2px solid var(--form-color-two);
}

//*Свойства лейбла
.label {
  text-align: center;
}
.label-color {
  &_success {
    color: var(--form-color-green);
  }
  &_primary {
    color: var(--form-color-blue);
  }
  &_info {
    color: var(--form-color-grey);
  }
  &_warning {
    color: var(--form-color-red);
  }
}

.label-fz {
  &_xg {
    font-size: 40px;
  }
  &_lg {
    font-size: 35px;
  }
  &_md {
    font-size: 25px;
  }
  &_sm {
    font-size: 15px;
  }
}

//*Свойства инпутов
.input {
  display: flex;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  min-height: 50px;
  font-size: 15px;
  color: var(--form-color-one-light);
  border-radius: 5px;
  &:hover,
  &:focus {
    border: 1px solid var(--form-color-one);
  }
  &:active {
    border: 1px solid var(--form-color-one);
  }
}

.input::placeholder {
  color: rgb(215, 215, 215);
}

.input-color {
  &_success {
    color: var(--form-color-green);
  }
  &_primary {
    color: var(--form-color-blue);
  }
  &_info {
    color: var(--form-color-grey);
  }
  &_warning {
    color: var(--form-color-red);
  }
}

.input-variant {
  &_outlined {
    background: transparent;
  }
}
.input-size {
  &_xs {
    width: 50px;
    height: 20px;
    font-size: 10px;
    border: 2px solid;
  }
  &_sm {
    width: 100px;
    height: 5px;
    font-size: 10px;
    border: 2px solid;
  }
  &_md {
    width: 125px;
    height: 10px;
    font-size: 10px;
    border: 2px solid;
  }
  &_lg {
    width: 150px;
    height: 30px;
    font-size: 15px;
    border: 2px solid;
  }
  &_xg {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: 1px solid;
  }
}
//*Checkbox
.checkbox-wrapper {
  display: flex;
  align-items: flex-start;
}

.checkbox-color {
  &_success {
    color: var(--form-color-green);
    border: 1px solid;
  }
  &_primary {
    color: var(--form-color-blue);
    border: 1px solid;
  }
  &_info {
    color: var(--form-color-grey);
    border: 1px solid;
  }
  &_warning {
    color: var(--form-color-red);
    border: 1px solid;
  }
}

.checkbox-size {
  &_xg {
    margin: 0 20px;
    width: 25px;
    height: 25px;
  }
  &_lg {
    margin: 0 20px;
    width: 20px;
    height: 20px;
  }
  &_md {
    margin: 0 20px;
    width: 15px;
    height: 15px;
  }
  &_sm {
    margin: 0 20px;
    width: 10px;
    height: 10px;
  }
}

.checkbox-span {
  font-size: 15px;
}

//* Свойства кнопок
.btn {
  margin: 20px 0;
  width: 100%;
  height: 30px;
  font-weight: 900;
  cursor: pointer;
  border: 1px solid;
  background: var(--form-color-one);
  &:hover,
  &:focus {
    /* filter: opacity(90%); */
    filter: contrast(125%);
  }
  &:active {
    filter: contrast(150%);
  }
}

.btn-variant {
  &_outlined {
    background: var(--player-color-one-light);
  }
}

.btn-color {
  &_success {
    background: var(--form-color-green);
  }
  &_primary {
    background: var(--form-color-one);
  }
  &_info {
    background: var(--form-color-grey);
  }
  &_warning {
    background: var(--form-color-red);
  }
}

.btn-size {
  &_sm {
    height: 20px;
    font-size: 8px;
    border: 1px solid;
    border-radius: 5px;
  }
  &_md {
    height: 30px;
    font-size: 10px;
    border: 1px solid;
    border-radius: 5px;
  }
  &_lg {
    height: 40px;
    font-size: 15px;
    border: 1px solid;
    border-radius: 5px;
  }
  &_xg {
    height: 50px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 5px;
  }
}

.checkbox-wrapper {
  margin: 5px 0;
}
.checkbox-position {
  margin: 0 10px 0 5px;
}

.forget-password {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  p a {
    cursor: pointer;
    padding-left: 5px;
  }
}

//временный класс, потом надо удалить
.nav-wrapper {
  :first-child {
    margin: 0 10px;
  }
}
