:root {
  --form-color-green: #1a7d36;
  --form-color-blue: #1e0bd0;
  --form-color-grey: #6e6e6e;
  --form-color-red: #e32636;
}

.form-position {
  display: flex;
}

//*Закрыть форму
.form-close {
  &_one,
  &_two {
    position: absolute;
    top: 20px;
    right: 10px;
    border: 1.5px solid var(--player-color-one-light);
    width: 20px;
    transform: rotate(45deg);
    cursor: pointer;
    border-radius: 5px;
  }
  &_two {
    transform: rotate(-45deg);
  }
}

//* Свойства формы
.form-wrapper {
  position: relative;
  margin: 10px auto 0px;
  padding: 20px 0 5px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: auto;

  min-height: 250px;
  height: auto;

  background: rgba(64, 64, 64, 0.241);

  flex-wrap: nowrap;
  border-radius: 15px;
  border: 2px solid black;
}

//*Свойства лейбла
.label {
  color: var(--player-color-one-light);
  text-align: center;
  margin: 18px 10px;
}
.label-color {
  &_success {
    color: var(--form-color-green);
  }
  &_primary {
    color: var(--form-color-blue);
  }
  &_info {
    color: var(--form-color-grey);
  }
  &_warning {
    color: var(--form-color-red);
  }
}

.label-fz {
  &_xg {
    font-size: 35px;
  }
  &_lg {
    font-size: 30px;
  }
  &_md {
    font-size: 25px;
  }
  &_sm {
    font-size: 20px;
  }
}

//*Свойства инпутов
.input {
  display: flex;
  margin: 10px 10px;
  padding: 10px;
  width: 90%;
  height: auto;
  min-height: 40px;
  font-size: 15px;
  color: black;
  background: var(--player-color-two);
  border-radius: 10px;
  &:hover,
  &:focus {
    border: 1px solid;
    transition: all 0.5s;
  }
}

.input::placeholder {
  color: rgb(184, 184, 184);
}

.input-color {
  &_success {
    color: var(--form-color-green);
  }
  &_primary {
    color: var(--form-color-blue);
  }
  &_info {
    color: var(--form-color-grey);
  }
  &_warning {
    color: var(--form-color-red);
  }
}

.input-variant {
  &_outlined {
    background: var(--player-color-one-light);
  }
}
.input-size {
  &_range {
    width: 80px;
  }
  &_xs {
    width: 50px;
    height: 20px;
    font-size: 10px;
    border: 1px solid;
  }
  &_sm {
    width: 100px;
    height: 5px;
    font-size: 10px;
    border: 1px solid;
  }
  &_md {
    width: 125px;
    height: 10px;
    font-size: 10px;
    border: 1px solid;
  }
  &_lg {
    width: 150px;
    height: 30px;
    font-size: 15px;
    border: 1px solid;
  }
  &_xg {
    width: 200px;
    height: 40px;
    font-size: 20px;
    border: 1px solid;
  }
}
//Checkbox
.checkbox-color {
  &_success {
    color: var(--form-color-green);
  }
  &_primary {
    color: var(--form-color-blue);
  }
  &_info {
    color: var(--form-color-grey);
  }
  &_warning {
    color: var(--form-color-red);
  }
}

.checkbox-size {
  &_xg {
    margin: 5px 20px;
    width: 25px;
    height: 25px;
  }
  &_lg {
    margin: 5px 20px;
    width: 20px;
    height: 20px;
  }
  &_md {
    margin: 5px 20px;
    width: 15px;
    height: 15px;
  }
  &_sm {
    margin: 5px 20px;
    width: 10px;
    height: 10px;
  }
}

.checkbox-variant {
  &_outlined {
    border: 1px solid;
    /* -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none; */
  }
}

//* Свойства кнопок
.btn {
  margin: 10px 5px;
  width: 70px;
  height: 30px;
  cursor: pointer;
  border: 1px solid;

  &:hover,
  &:active,
  &:focus {
    transition: all 0.8s ease;
    transform: translateZ(0) scale(1.1, 1.1);
  }
}

.btn-variant {
  &_outlined {
    background: var(--player-color-one-light);
  }
}

.btn-color {
  &_success {
    color: var(--form-color-green);
  }
  &_primary {
    color: var(--form-color-blue);
  }
  &_info {
    color: var(--form-color-grey);
  }
  &_warning {
    color: var(--form-color-red);
  }
}

.btn-size {
  &_sm {
    width: 50px;
    height: 20px;
    font-size: 10px;
    border: 1px solid;
    border-radius: 5px;
  }
  &_md {
    width: 60px;
    height: 30px;
    font-size: 15px;
    border: 1px solid;
    border-radius: 5px;
  }
  &_lg {
    width: 80px;
    height: 40px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 5px;
  }
  &_xg {
    width: 100px;
    height: 50px;
    font-size: 25px;
    border: 1px solid;
    border-radius: 5px;
  }
}
