:root {
  --foreground-rgb: 0, 0, 0;
  --player-color-one: #FF5D0F;
  --player-color-two: #FF9C0F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  border-top: 3px solid var(--player-color-one);
  font-family: Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 10px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
