// Light theme
:root {
  --foreground-rgb: 0, 0, 0;
  --player-color-one: #FF5D0F;
  --player-color-one-light: #fff4ee;
  --player-color-two: #FF9C0F;

  --button-color-default: #ccc;
  --button-color-orange: #FF5D0F;
  --button-color-grey: rgba(170, 170, 170, 0.7);
  --preloader: #000;
}

// Dark theme
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --button-color-default: #171717;
    --preloader: #fff;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 10px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,.1);
  li {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 10px 0;
    cursor: pointer;
    user-select: none;
    &:hover {
      background: rgba(0,0,0,.02);
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


