ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-main {
  display: flex;
}

.nav-list-main {
  display: flex;
}

.nav-list-item {
  padding: 0 18px;
}

.link-wrapper {
  padding: 0 0 0 50px;

  a {
    margin: 0 10px 0 0;
  }
}
