ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* .page-main-wrapper {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  grid-template-rows: repeat(5, 220px);
  gap: 10px;
  height: 100%;
} */

.nav-item {
  margin: 0 10px;
}

.link-wrapper a {
  margin: 0 10px 0 0;
}
