.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background: rgba(255,255,255,.7);
  backdrop-filter: blur(10px);
  font-family: Arial, sans-serif;
}

.player-box {
  height: 60px;
  display: flex;
  align-items: center;
}

.player-box__play {
  width: 40px;
  height: 40px;
  border: 1px solid #674FE7;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 15px;
  position: relative;
}

.player-box__play:before {
  content: "";
  width: 0;
  height: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  right: 0;
  border-left:8px solid #674FE7;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.player-box__play.active:before {
  border: none;
  width: 10px;
  height: 10px;
  background: #674FE7;
  left: 0;
}

.player-box__body {
  font-size: 16px;
  line-height: 1.3;
}

.player-box__body span {
  display: block;
  font-size: 12px;
}

.player-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #ccc;
}

.player-bar__progress {
  width: 0;
  background: linear-gradient(to left, #674FE7, #CE4FE7);
  height: 3px;
}

@media (prefers-color-scheme: dark) {
  .player,
  .player-bar {
    background: rgba(255,255,255,.1);
  }
}