.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background: rgba(255,255,255,.7);
  backdrop-filter: blur(10px);
  font-family: Arial, sans-serif;
}

.player-box {
  height: 60px;
  display: flex;
  align-items: center;
  &__play {
    width: 40px;
    height: 40px;
    border: 1px solid var(--player-color-two);;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 15px;
    position: relative;
    &:before {
      content: "";
      width: 0;
      height: 0;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 2px;
      right: 0;
      border-left: 8px solid var(--player-color-two);;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
    }
    &.active:before {
      border: none;
      width: 10px;
      height: 10px;
      background: var(--player-color-two);
      left: 0;
    }
    &:hover {
      box-shadow: 0 0 10px var(--player-color-two);
    }
  }

  &__body {
    font-size: 16px;
    line-height: 1.3;
    color: rgba(0,0,0,.5);
    strong {
      color: rgba(0,0,0,.8)
    }
    span {
      display: block;
      font-size: 12px;
    }
  }
}

.player-bar {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.07);
  cursor: pointer;
  &__progress {
    width: 0;
    background: linear-gradient(to left, var(--player-color-one), var(--player-color-two));
    height: 3px;
    pointer-events: none;
    transition: height .1s;
  }
  &:hover .player-bar__progress {
    height: 8px;
  }
}

@media (prefers-color-scheme: dark) {
  .player {
    background: rgba(255,255,255,.1);
  }

  .player-box {
    &__body {
      color: rgba(255,255,255,.5);
      strong {
        color: rgba(255,255,255,.8)
      }
    }
  }

  .player-bar {
    background: rgba(255,255,255,.2);
  }
}