.headerInfo {
  background: linear-gradient(to left, var(--player-color-one), var(--player-color-two));
  color: #fff;
  padding: 7px 0;
  font-size: 14px;
}

.header {
  padding: 14px 0;
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left,
  &__right {
    width: 170px;
  }
}
