.header {
  padding: 16px 0;
  border-top: 1px solid var(--player-color-one);
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logout{
    cursor: pointer;
  }
}
