.title {
  text-align: center;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;

  span {
    color: var(--player-color-one);
  }
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  .list {
    background-color: rgba(255, 255, 255, 0);
  }
}
